<div id="login_list_countries">
  <label for="country"><%= t('reservation.country') %></label><br />
  <%= select_tag(
        "space[country]", 
        "<option value=\"\">" + t('reservation.select_a_country') + "</option>" + options_for_select(Space.countries),
        :onchange => '$(\'#login_list_spaces\').load(\'users/update_list_space\', { country: $(\'#space_country\').val()})'
      ) %>
</div>

                           

