<%if !(space.is_last_admin?(current_user))%>
  <div id="leave_space">
        <%= link_to t('space.leave'), space_performance_path(@space, @space.stage_performances.find_by_agent_id(current_user)), :method => :delete, :title => t('space.leave'), :confirm => t('space.confirm') %>
  </div>
<% end %>

