<div class="dialog">
	<div id="alert"><h2 style="display:block;position:relative;left:50px;" class="yellow2"><%= t('error.vcc_warning') %></h2></div>
    <h2 style="position:relative;top:30px;" class="yellow"><%= t('error.e403') %></h2>
    <p style="position:relative;top:10px;"><%= t('error.not_allowed') %></p>
</div>
