<div id="vcc-logo">
  <%= link_to image_tag("claraVC-01.png"), root_path %>
</div>

<div id="eu">
  <%= link_to(image_tag("CLARA.png", :style => "width:71px;height:22px;float:rigth;display:block"),"http://redclara.net/")%>
  <%= link_to(image_tag("UE.png", :style => "width:71px;height:46px;float:right;"),"http://europa.eu/index_es.htm")%>
</div>

<div id="search">
  <%= render :partial => 'search/form' %>
</div>